*,p,h1,h2,h3,h4,h5,h6{
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.big-title{
    font-weight: 100;
    font-size: 50px;
}
.bg-brown{
    background-color: #f1e3d6;
}
.bg-offwhite{
    background-color: #f8f8f8;
}
.small-text{
    font-size: 12px;
}
.mini-text{
    font-size: 10px;
}
.main-hover{
    display: inline-block;
}
.underline{
    height: 1px;
    width: 0;
    background-color: black;
    transition: all 500ms;
}
.main-hover:hover .underline{
    width: 100%;
}
.nowrap{
    white-space: nowrp;
}
.colorone{
    background-color: #f1f5f9;
}
.colortwo{
    background-color: #f1f6f5;
}
.colorthree{
    background-color: #f8f8f8;
}
.up-right{
    transform: rotate(45deg);
}
.colorfive{
    background-color: #f8ede3;
}
.colorsix{
    background-color: #fffae7;
}

.hover-btn{
    width: 40px;
    height: 40px;
}
.to-hover{
    display: none;
    bottom: 20px;
    right: 10px;
}
.main-hover:hover .to-hover{
    display: block !important;
   
}